.navBar{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navBar__link-container{
    display: flex;
    justify-content: center;
}

.navBar__link-container li{
    list-style-type: none;
    margin: 0 .4rem;

}

.navBar__link-container li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}


